a {color: #d8af92;}
a:hover{
  transition: all linear 0.25s;
  color: #a99c92;
}
.btn-primary, .btn-primary.disabled {
  background: #a5988f;
  border-color: #94857c;
  box-shadow: 0 2px 2px 0 rgb(199, 195, 192), 0 3px 1px -2px rgba(199, 195, 192), 0 1px 5px 0 rgba(199, 195, 192);
}
.btn-primary.disabled:hover, .btn-primary:hover,.btn-primary.active, .btn-primary.disabled.active, .btn-primary.disabled:active, .btn-primary.disabled:focus, .btn-primary:active, .btn-primary:focus, .btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:focus{
  background: #d4b8a4 !important;
  border-color: #ceaa92 !important;
  box-shadow: 0 14px 26px -12px rgba(206, 174, 141, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(150, 120, 94, 0.2) !important;
}
.btn-outline-primary{
  color: #94857c;
  border-color: #94857c;
  box-shadow: 0 2px 2px 0 rgb(199, 195, 192), 0 3px 1px -2px rgba(199, 195, 192), 0 1px 5px 0 rgba(199, 195, 192);
}

.dark-logo {
  margin-top: 18px;
}